.search-bar {
  width: 100%;
  margin-top: 50px;
}

.sort-button {
  margin-right: 10px;
}

.active-user {
  width: 200px;
  padding: 20px 10px;
  border: 1px solid #cccccc;
  height: 100%;
}

.active-user__name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.active-user__info {
  display: flex;
  justify-content: flex-start;
  padding-top: 7px;
}

.active-user__info-text {
  width: 50%;
  text-align: center;
}

.border-bottom {
  padding-bottom: 7px;
  border-bottom: 1px solid #cccccc;
}

.users {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.user-data {
  width: 1156px;
  height: 77px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: black;
  position: relative;
}

.user-data:after {
  position: absolute;
  content:'';
  width: 1157px;
  height: 78px;
  border: 1px solid #cccccc;
  top: -1px;
  left: -1px;
}

.user-data_visible:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.user-data:hover {
  background-color: #eee;
}

.user-data:hover {
    text-decoration: none;
    color: black;
}

.user-data__img {
  padding-left: 5px;
  width: 180px;

  img {
    max-width: 60px;
    max-height: 60px;
  }
}

.user-data__name {
  width: 466px;
}

.user-data__age {
  width: 132px;
}

.user-data__phone {
  width: 378px;
}

.user-data-title {
  width: 1156px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  height: 38px;
  position: relative;
}
.user-data-title:after {
  position: absolute;
  content:'';
  width: 1157px;
  height: 39px;
  border: 1px solid #cccccc;
  top: -1px;
  left: -1px;
}

.content {
  padding: 20px;
}

.user-data__phrase {
  text-align: center;
  margin-top: 20px;
}

.invisible {
  display: none !important;
}
